body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: rgb(233, 233, 233);
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(228, 207, 175);
}

.typing-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    gap: 1rem;
    background-color: rgb(248, 240, 214);
    padding: 1rem;
}

.side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(228, 207, 175);
    padding: 1rem;
}

.sentence-area{
    flex: 1;
    display: flex;
    gap: 1rem;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(161, 161, 161);
    padding: 1rem;
}

.sentenceBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 중앙 */
    background-color: rgb(242, 242, 242);
    overflow: hidden; /* 넘치는 문장은 숨기기 */
    position: relative;
}

.sentence {
    transition: transform 0.3s ease, opacity 0.3s ease;/* 부드럽게 이동 */
}

#prev {
    height: 30px;
    color: rgb(131, 131, 131);
    background-color: rgb(242, 242, 242);
}

#cur {
    height: 30px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: #c0c0c09b;
}

#next {
    height: 30px;
    color: rgb(131, 131, 131);
    background-color: rgb(242, 242, 242);
}

#inputBox {
    height: 40px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
}

#info {
    text-align: center;
    background-color: rgb(232, 232, 232);
    color: gray;
    margin: 0 auto;
    font-size: smaller;
}

#timer {
    background-color:#dddddd;
    text-align: center;
    align-content: center;
    font-size: 60px;
    margin: 0 auto;
    width: calc(100% - 1rem); /* 여백 확보 */
    height: 100px;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
    min-width: 200px;
    font-family: "Wallpoet", sans-serif;
    color: rgb(96, 96, 96);
}

#specBox {
    background-color: rgb(202, 182, 151);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    min-width: 200px;
}

.spec {
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    align-items: center;
    height: 30px;
    background-color: rgb(202, 182, 151);
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.barContainer {
    flex: 1;
    margin: 0 0.5rem;
    width: 100px;
    height: 10px;
    background-color: rgb(211, 211, 211);
    position: relative;
}

.bar {
    position: absolute;
    background-color: #c35f30;
    height: 100%;
    width: 0%;
    transition: width 0.1s ease-out;
}

#pauseButton {
    width: 80%;
    height: 80px;
    background-color: rgb(226, 226, 226);
    margin: auto;
    margin-bottom: 10px;
    font-size: larger;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 10px;
}

#messageBox { 
    display: flex; 
    flex-direction: column; 
    width: 60%; 
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(188, 162, 133); 
    z-index: 999;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
}

#messageContent{
    background-color: rgb(188, 162, 133);
    font-size: larger;
}

#notice {
    background-color: rgb(188, 162, 133);
    text-align: center; 
    font-size: larger;
}

#user_log {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    width: 80%; 
    height: 40%;
    background-color: rgb(188, 162, 133); 
    display: none;
    font-size: larger;
    font-weight: bolder;
}

#buttonsBox { 
    display: flex; 
    width: 80%; 
    height: 20%; 
    margin-top: 10px; 
    background-color: rgb(188, 162, 133); 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 10px;
}

.threeButtons { 
    height: 60%; 
    width: 20%; 
    background-color: #d2d2d2; 
    margin: 10px;
    border: 1px solid #808080; 
    border-radius: 10px;
    font-size: larger;
}

#pro {
    background-color: rgb(202, 182, 151);
    min-width: 40px;
    text-align: center;
}

#cor {
    background-color: rgb(202, 182, 151);
    min-width: 40px;
    text-align: center;
}

#vol {
    background-color: rgb(202, 182, 151);
    min-width: 40px;
    text-align: center;
}